
@model MVCTest.Models.ContactModel
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h2>关于我们</h2>
<h3>@ViewBag.Message</h3>
@using (Html.BeginForm())
{

}

<p>Use this area to provide additional information.</p>
